{% extends 'base.html' %}

{% block title %}{{ _('Register') }}{% endblock %}

{% block content %}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            align-items: center;
            padding-top: 200px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input {
            margin-bottom: -1px;
            border-radius: 0;
        }

        .form-signin input[id="inputUsername"] {
            margin-bottom: -1px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .form-signin input[id="inputPassword"] {
            margin-bottom: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

    </style>
    </div>
    <form class="form-signin text-center needs-validation" method="post" novalidate>
        <img src="{{ url_for('static', filename='favicon.png') }}" style="margin-bottom: 10px;">
        <h1 class="h3 mb-3 font-weight-normal">{{ _('Register an account') }}</h1>
        <label for="inputUsername" class="sr-only">{{ _('Username') }}</label>
        <input id="inputUsername" name="username" class="form-control form-control-lg" placeholder="{{ _('Username') }}"
               required autofocus>
        <label for="inputEmail" class="sr-only">{{ _('Email address') }}</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="{{ _('Email address') }}"
               required>
        <label for="inputPassword" class="sr-only">{{ _('Password') }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ _('Password') }}"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Register') }}</button>
    </form>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}